.rules-container {
    text-align: center;
    margin: 1em;
    font-size: 5em;
  }
  
  .centered-paragraph {
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 5rem;
    padding:0;
    margin: 0;
    text-decoration: underline;
  }

  
  ul {
    list-style: decimal;
    text-align: left;
    padding-left: 20px;
    font-size: 2rem;
  }
  
  li {
    margin: 5px 0;
  }
  
  a {
    font-size: 3rem;
    color: #ED3C71;
  }

  a:hover{
    color: rgb(60, 92, 237);
  }

  @media screen and (max-width: 768px) {
    .rules-container {
      font-size: 3em;
    }
  
    h2 {
      font-size: 3.5rem;
    }
  
    ul {
      font-size: 1.5rem;
    }
  
    a {
      font-size: 2.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .rules-container {
      font-size: 2em;
    }
  
    h2 {
      font-size: 3rem;
    }
  
    ul {
      font-size: 1.2rem;
    }
  
    a {
      font-size: 2rem;
    }
  }